In [10]:
import pandas as pd

In [33]:
d2df = pd.read_excel(r'C:\Users\ufps\Desktop\)
d2df.drop(['Z_0', 'Z_1', 'Z_2', 'Z_3'], axis=1, inplace=True)
d2df.head()

   X_0  Y_0  X_1  Y_1  X_2  Y_2  X_3  Y_3
0    3   28    3   25    2   26    2   23
1    4   26    4   25    4   28    6   26
2    6   28    4   27    4   23    9   25
3    6   28    2   24    4   27    9   23
4    1   28    2   22    3   29   10   27